  <!-- footer section  -->
  <footer>
    <div class="box-1">
      <h1 class="title">ZephyrBay</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis sit reiciendis dignissimos. Quas laborum corrupti, magni error dolor incidunt esse consectetur quae obcaecati quos sit animi, expedita, sequi voluptas.</p>

      <div class="links">
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>

    <div class="box-2">

      <div class="sub-box">
        <h4>Pages</h4>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Store</a>
        <a href="">Explore</a>
        <a href="">Contact</a>
      </div>

      <div class="sub-box">
        <h4>Features</h4>
        <a href="">Shop</a>
        <a href="">Cart</a>
        <a href="">Notification</a>
        <a href="">Sale</a>
      </div>

      <div class="sub-box">
        <h4>Contact Us</h4>
        <a href="">Privacy & Policy</a>
        <a href="">+13937838447</a>
      </div>

    </div>

  </footer>

  <p class="ending-message">Made by Zahira Khawaja and Shoaib Wani</p>
