<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <!-- <link rel="stylesheet" href="/Ecommer/static/css/otp.css"> -->

    <link rel="stylesheet" href="<?= ROOT; ?>/static/css/otp.css">
    <!-- script file -->
    <script src="<?= ROOT; ?>/static/js/otp.js" defer></script>
</head>
<body>

    <div class="container">
        <div class="img-container">
            <img src="<?= ROOT; ?>/static/images/open-email.png" alt="envelope image">
        </div>

        <p class="otp-message">We have sent a verification code on <span><?= $email; ?></span><br/> Enter the verification code below.</p>

        <form action="<?= ROOT; ?>/signup/verify" method="post">
            <div id="otp-input">
                <input type="text" id="otp1" class="otp-input" maxlength="1" name="n1" required>
                <input type="text" id="otp2" class="otp-input" maxlength="1" name="n2" required>
                <input type="text" id="otp3" class="otp-input" maxlength="1" name="n3" required>
                <input type="text" id="otp4" class="otp-input" maxlength="1" name="n4" required>
            </div>

            <input type="submit" id="otp-verify" value="🡢">
        </form>

        <a href="<?= ROOT; ?>/signup/otp?resend=1" class="resend-otp">Resend Code</a>
        

    </div>
</body>
</html>
